.main-weather{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2rem;
  background-color: #4b646c;
  border: solid white;
  border-radius: 25px;
  margin: 1rem;
}

.main-weather-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  margin: 1rem;
}

.main-weather-major {
  justify-content: space-evenly;
}
