.nav {
  width: 100%;
  background-color: #001929;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0rem 1rem 1rem 0rem;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-brand {
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  border-right: solid 3px #f1e4e8;
}

.nav-location {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: left;
}

.nav-location h2 {
  margin: 0rem;
  border-top: solid white 2px;
}

.nav-location h4 {
  margin: 0rem;
}

.nav-right {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.nav-link {
  height: fit-content;
  padding: 1rem;
  align-items: center;
  display: flex;
  font-size: 1rem;
  background-color: #003252;
  border-radius: 5px;
}

.nav-search-button {
  display: flex;
  background-color: #f1e4e8;
  color: black;
  margin: 0.5rem;
}

.nav-search-input {
  width: 90%;
  border-radius: 5px;
  margin: 0.5rem;
  font-size: 16px;
}
